.forgot-password {
  display: flex;
  flex-direction: column;
  background-color: $white !important;
  align-items: center;

  .icon-container {
    height: 5.375rem;
    width: 5.375rem;
    border-radius: 0.5rem;
    border: 1px solid $field-background;
    padding: 0.5rem;

    .icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }


  .heading {
    font-size: $font-size-xl;
    color: $black;
    font-weight: $font-weight-bold;

    @media screen and (max-width: $sm-breakpoint) {
      font-size: $font-size-lg;
    }
  }

  .subHeading {
    font-size: $font-size-base;
    color: $gray;
    text-align: center;

    @media screen and (max-width: $sm-breakpoint) {
      font-size: $font-size-sm;
    }
  }

  .login-form {
    max-width: 31.25rem;
    width: 100%;

    .button-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .redirect-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $gray;
    cursor: pointer;

    @media screen and (max-width: $sm-breakpoint) {
      font-size: $font-size-sm;
    }
  }

  .back-icon {
    font-size: $font-size-lg;
  }
}

.forgotpassword-tab-container {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -5%);
  display: flex;
  justify-content: center;

  .forgotpassword-tab {
    background-color: $field-background;
    border-radius: 50px;
    height: 5px;
    width: 80px;
  }

  .active-forgot-password-tab {
    background-color: $primary;
  }
}
.setpassword-tab-container {
  display: flex;
  justify-content: center;

  .forgotpassword-tab {
    background-color: $field-background;
    border-radius: 50px;
    height: 5px;
    width: 50px;
  }

  .active-forgot-password-tab {
    background-color: $primary;
  }
}

.success-message-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .success-message-container {
    max-width: 31.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}