.sendInvoice-box {
  position: fixed;
  top: 2%;
  width: 100%;
  background-color: transparent;
  z-index: 9999;

  .sendInvoice-popup {
    width: 100%;
    border: 1px solid $field-background;
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $sm-breakpoint) {
      flex-direction: column;
      padding: 0.5rem;
    }

    .content {
      font-size: $font-size-lg;
      font-weight: 400 !important;

      @media screen and (max-width: $sm-breakpoint) {
        text-align: center;
        font-size: $font-size-base;
        margin-bottom: 10px;
      }

      .free-content {
        font-size: $font-size-xl !important;
      }
    }
  }
}

.home-section {
  width: 100%;
  height: 100svh;
  background: linear-gradient(#00000098 10%, #000000a2 10%, $primary),
    url("../../assets/images/marketing-bg.png");
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed;

  @media screen and (max-width: $sm-breakpoint) {
    background: linear-gradient(rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        $primary ),
      url("../../assets/images/marketing-small-bg.png");
    background-attachment: scroll;
  }

  @media screen and (min-width: $sm-breakpoint) and (max-width: $md-breakpoint) {
    background-position: 80% center;
  }

  .home-wrapper {
    position: relative;
    height: 100svh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .advertisement-content {
      width: 70%;
      background-color: transparent;
      padding: 2rem;
      border-left: 4px solid $white;

      @media screen and (max-width: $md-breakpoint) {
        width: 100%;
        padding: 1rem;
        border-left: 2px solid $white;
        margin-top: 25rem;
      }

      .content-heading {
        font-size: 50px;
        color: $white;
        font-weight: bold;

        @media screen and (max-width: $sm-breakpoint) {
          font-size: $font-size-xl;
        }

        .highlighted-heading {
          background-color: $white;
          color: $primary;
          padding-inline: 0.5rem;
        }
      }
    }
  }
}

.about-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;

  .about-wrapper {
    width: 100%;
    height: auto;
    padding: 3.75rem 0;

    .invoice-right-section {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: $md-breakpoint) {
        display: none;
      }

      .Invoicean-logo {
        max-width: 500px;
        width: 100%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
          width: 100%;
          height: 100%;
          object-fit: contain;
          padding: 1rem;
          border: 1px solid $field-background;
        }
      }
    }

    .Invoicen-details {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 1rem;

      @media screen and (max-width: $sm-breakpoint) {
        order: 1;
      }

      .heading {
        font-size: $font-size-xl;
        font-weight: bold;
        color: $dark-gray;

        @media screen and (max-width: $sm-breakpoint) {
          font-size: $font-size-lg;
        }
      }

      .display-heading {
        font-size: 70px;
        color: $primary;

        @media screen and (max-width: $sm-breakpoint) {
          font-size: 55px;
        }
      }

      .subheading {
        font-size: $font-size-base;
        color: $gray;

        @media screen and (max-width: $sm-breakpoint) {
          font-size: $font-size-sm;
        }
      }
    }
  }
}

.display-section {
  width: 100%;
  background: linear-gradient($primary, $primary);

  .display-wrapper {
    width: 100%;
    padding: 100px 0;

    @media screen and (max-width: $md-breakpoint) {
      padding: 50px 0;
    }

    iframe {
      width: 100%;
      height: 768px;

      @media screen and (max-width: $sm-breakpoint) {
        height: 300px;
      }

      @media screen and (min-width: $sm-breakpoint) and (max-width: $md-breakpoint) {
        height: 500px;
      }
    }

    .content-heading {
      width: 100%;
      text-align: center;
      font-size: $font-size-xxl;
      color: $white;
      font-weight: bold;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: $font-size-xl;
      }

      .highlighted-heading {
        background-color: $white;
        color: $primary;
        padding: 1rem 0.5rem;

        @media screen and (max-width: $md-breakpoint) {
          padding: 0;
        }
      }
    }

    .content-subheading {
      width: 100%;
      text-align: center;
      font-size: $font-size-xl;
      color: $white;
      font-weight: bold;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: $font-size-lg;
      }
    }

    .content {
      width: 100%;
      text-align: center;
      font-size: 60px;
      color: $white;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: 2.5rem;
        margin-top: 18px !important;
      }
    }
  }
}

.service-section {
  background-color: $white;

  .service-wrapper {
    width: 100%;
    padding: 50px 0;

    .heading {
      font-size: 60px;
      text-align: center;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: 40px;
      }
    }

    .subheading {
      font-size: $font-size-base;
      color: $gray;
      text-align: center;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: $font-size-sm;
      }
    }

    .serviceCard {
      border-bottom: 1px solid $field-background;
      background-color: $white;
      padding: 1rem;
      transition: 0.5s;

      @media screen and (max-width: $sm-breakpoint) {
        padding: 0.5remrem;
      }

      &:hover {
        box-shadow: $box-shadow;
        transform: scale(1.01);
      }

      .card-icon-container {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        border: 1px solid $field-background;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dark-gray;

        @media screen and (max-width: $sm-breakpoint) {
          height: 4rem;
          width: 4rem;
        }
      }

      .content-heading {
        width: 100%;
        font-size: $font-size-lg;
        color: $primary;
        font-weight: 600;
        min-height: 3.75rem;

        @media screen and (max-width: $sm-breakpoint) {
          font-size: $font-size-base;
          min-height: auto;
        }
      }

      .content-subheading {
        width: 100%;
        font-size: $font-size-sm;
        color: $gray;
        min-height: 10rem;

        @media screen and (max-width: $sm-breakpoint) {
          min-height: auto;
          margin-top: 1.125rem;
        }
      }
    }
  }
}

.banner-section {
  width: 100%;
  height: auto !important;
  background: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    url("../../assets/images/marketing-bg.png");
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // padding-bottom: 2rem;

  @media screen and (max-width: $sm-breakpoint) {
    background: linear-gradient(rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)),
      url("../../assets/images/marketing-small-bg.png");
    background-attachment: scroll;
  }

  .banner-wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.697);
    padding: 2rem;
    margin: 8rem 0rem 1rem 0;

    @media screen and (max-width: $sm-breakpoint) {
      padding: 1rem;
      margin: 10rem 0rem 1rem 0;
    }

    .heading {
      font-size: $font-size-xxl;
      text-align: center;
      font-weight: bold;
      color: $white;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: $font-size-xl;
      }
    }

    .subheading {
      font-size: $font-size-base;
      color: $white;
      text-align: center;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: $font-size-sm;
      }
    }
  }
}

.AI-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;

  .AI-wrapper {
    width: 100%;
    padding: 60px 0;

    @media screen and (max-width: $sm-breakpoint) {
      padding: 30px 0;
    }

    .heading-content {
      font-size: 70px;
      text-align: center;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: 2.5rem;
      }
    }

    .AI-details {
      .heading {
        font-size: $font-size-xl;
        font-weight: bold;
        color: $primary;
        text-align: center;

        @media screen and (max-width: $sm-breakpoint) {
          font-size: $font-size-lg;
        }
      }

      .subheading {
        font-size: $font-size-base;
        color: $gray;
        text-align: center;
        font-size: $font-size-sm;
      }
    }
  }
}

.FAQ-section {
  width: 100%;
  height: auto !important;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  .FAQ-wrapper {
    width: 100%;
    height: auto !important;
    background: linear-gradient(rgba(0, 0, 0, 0.393),
        rgba(0, 0, 0, 0.693),
        rgba(0, 0, 0, 0.879)),
      url("../../assets/images/banner-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;

    @media screen and (max-width: $sm-breakpoint) {
      background: linear-gradient(rgba(0, 0, 0, 0.753),
          rgba(0, 0, 0, 0.712),
          rgba(0, 0, 0, 0.747)),
        url("../../assets/images/banner-small-bg.png");
      background-position: center 30%;
      padding: 1rem;
    }

    .heading {
      width: 100%;
      font-size: $font-size-xxl;
      font-weight: bold;
      color: $white;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: $font-size-xl;
      }
    }

    .subheading {
      font-size: $font-size-base;
      color: $white;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: $font-size-sm;
      }
    }
  }
}

.Testimonial-section {
  width: 100%;
  height: auto !important;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 5rem 0;

  @media screen and (max-width: $sm-breakpoint) {
    padding: 1rem 0 5rem 0;
  }

  .heading-content {
    font-size: 70px;
    text-align: center;

    @media screen and (max-width: $sm-breakpoint) {
      font-size: 2.5rem;
    }
  }

  .testimonials {
    padding: 1rem 0.5rem;

    .testimonials-container {
      width: 100%;
      border: 1px solid $field-background;
      border-radius: 0.3125rem;
      padding: 1rem;

      .heading {
        width: 100%;
        font-size: $font-size-lg;
        font-weight: bold;
        color: $secondary;
        text-align: center;

        @media screen and (max-width: $sm-breakpoint) {
          font-size: $font-size-base;
        }
      }

      .subheading {
        width: 100%;
        font-size: $font-size-base;
        color: $gray;
        text-align: center;
        min-height: 6rem;

        @media screen and (max-width: $sm-breakpoint) {
          font-size: $font-size-sm;
        }
      }

      .content {
        font-size: $font-size-sm;
        color: $secondary;
        text-align: end;
      }
    }
  }

  .slick-next:before,
  .slick-prev:before {
    color: $primary !important;
  }
}

.footer-section {
  background-color: $secondary;
  padding: 30px 0;

  .footer-logo {
    max-width: 10rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    font-size: $font-size-sm;
    color: $field-background;
  }

  .footer-links {
    height: 100%;

    .heading {
      font-size: $font-size-base;
      font-weight: 600;
      color: $white;
    }

    .links {
      font-size: $font-size-sm;
      color: $field-background;
    }
  }

  .divider {
    background-color: $white;
  }

  .footer-content {
    text-align: end;
    font-size: $font-size-sm;
    color: $white;
  }
}

.termsAndCondition-wrapper {
  background-color: $white;

  .termsAndCondition {
    .heading {
      font-size: $font-size-lg;
      color: $black;
      font-weight: bold;
    }

    .subheading {
      font-size: $font-size-base;
      color: $secondary;
      font-weight: 600;
    }

    .content {
      font-size: $font-size-sm;
      color: $gray;
      list-style-type: disc !important;
    }
  }
}

.contact-section {
  background-color: $white;
  padding: 1.875rem 0;

  .contact-wrapper {
    background-color: $white;

    .heading {
      font-size: $font-size-lg;
      color: $black;
      font-weight: bold;
    }

    .subheading {
      font-size: $font-size-base;
      color: $secondary;
      font-weight: 600;
    }

    .content {
      font-size: $font-size-sm;
      color: $gray;
      list-style-type: disc !important;
    }

    .danger-box-contact {
      padding: 2rem 1rem;
      border-left: 5px solid $light-red;
      background-color: #c52a1c0e;
    }

    .success-box-contact {
      padding: 2rem 1rem;
      border-left: 5px solid $success;
      background-color: #46962b15;
    }

    .primary-box-contact {
      padding: 2rem 1rem;
      border-left: 5px solid $primary;
      background-color: #4a7dff13;
    }
  }
}

.feedback-container {
  background-color: $white;
  padding: 1.875rem 0;

  .feedback-wrapper {
    width: 100%;
    padding: 1rem;

    .heading {
      font-size: $font-size-lg;
      color: $primary;
      font-weight: bold;
    }

    .subheading {
      font-size: $font-size-sm;
      color: $gray;
    }
  }
}

.BugReport-section {
  width: 100%;
  height: auto !important;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  .BugReport-wrapper {
    width: 100%;
    height: auto !important;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;

    @media screen and (max-width: $sm-breakpoint) {
      padding: 1rem;
    }

    .heading {
      font-size: $font-size-xxl;
      font-weight: bold;
      color: $black;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: $font-size-xl;
      }
    }

    .subheading {
      font-size: $font-size-base;
      color: $gray;

      @media screen and (max-width: $sm-breakpoint) {
        font-size: $font-size-sm;
      }
    }

    .formButton {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;

      @media screen and (max-width: $sm-breakpoint) {
        align-items: start;
        justify-content: start;
      }
    }
  }
}

.CalendlyButtonText {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}