@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("react-toastify/dist/ReactToastify.css");
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css";
@import 'aos/dist/aos.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;

  html,
  body {
    scroll-behavior: smooth;
    background-color: #f0f0f7;

    @media print {
      background-color: #fff;
    }
  }
}

#razorpay-element {
  min-height: 300px;
}



/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0.01px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

@import "./main.scss";